
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Sınavlarım</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Yeni bir soru ekle</li>
    </ol>
  </nav>
  <h2 class="mb-3">Yeni bir Soru Ekle</h2>
  <p class="lead">İlk olarak soruyu yaz. Daha sonra random cevapları ekleyebileceksin.</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">İptal et</a>
  </form>
{% endblock %}
